body {
   text-align: center; 
}

img {
    height: 300px;
    overflow: hidden;
}
#box{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.center {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  text-align: center;
  
}
.borderedtable {
  border: 5px solid black;
  border-collapse: collapse;
}

td {
    width: 300px;
}
